<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>517537745864-31hcb302g6t92cf6flp9as693jfbl5gg.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.517537745864-31hcb302g6t92cf6flp9as693jfbl5gg</string>
	<key>API_KEY</key>
	<string>AIzaSyAM_QvfA6gQT7AR57IvkVoXqFdXQLLDuvc</string>
	<key>GCM_SENDER_ID</key>
	<string>517537745864</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.sz.sleepwell</string>
	<key>PROJECT_ID</key>
	<string>sleep-app-78be3</string>
	<key>STORAGE_BUCKET</key>
	<string>sleep-app-78be3.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:517537745864:ios:2392d07509bdd6a517cefd</string>
	<key>DATABASE_URL</key>
	<string>https://sleep-app-78be3.firebaseio.com</string>
</dict>
</plist>